.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rproj.user
*.feather
*.rdata
embeddings.rdata
!coocurrences.csv
!cluster_freq.csv
!node_centrality.csv
!cooc_no_coop.csv
!table_x.csv
!complete_coocurrences.csv
!complete_node_centrality.csv
